@charset "ISO-8859-1";

/* style de toutes les pages */ 


body {
	background-image: url("Images/background3.jpg");
}

.well{
	background-color: rgb(225,222,72,0.8);
}

th {
	text-align: center;
	font-weight: bold;
}

/* deux colonnes de div agence et aboutconseiller */

#Globalagence
{
    width:100%;
    background-color: white;
	opacity: 0.8;
}
 #gaucheagence {
	
    float:left;
    width:60%;
    
}
 #droiteagence {
    margin-left:60%;
   
}

#Globalabout
{
    width:100%;
   
	
}
 #gaucheabout {
	text-align: center;
    float:left;
    width:60%;
    
}
 #droiteabout  {
    margin-left:60%;
   text-align: center;
}
#Global
{
    width:60%;
	
}
 #gauche {
	
    float:left;
    width:80%;
    
}
 #droite {
    margin-left:60%;
   
}

/* Login*/
#divResultat {
	text-align: center;
}
